.section-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;

  padding: 10px 14px;

  background: #ABB3CC !important;
  border-bottom: 1px solid #263143;

  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;

  z-index: 999999;

  flex-wrap: wrap;
}
